<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <div class="mb-3">
    <label for="title_input" class="form-label">Title</label>
    <input type="text" name="title" id="title_input" class="form-control">
  </div>

  <div class="mb-3">
    <label for="description_input" class="form-label">Description</label>
    <input type="text" name="description" id="description_input" class="form-control">
  </div>

  <div class="mb-3">
    <label for="occurred_on_input" class="form-label">Occurred On</label>
    <input type="date" name="occurred_on" id="occurred_on_input" class="form-control">
  </div>

<%= form_for @entry, html: { multipart: true } do |form| %>
  <div class="mb-3">
    <%= form.label :uploaded_image, class: "form-label" %>
    <%= form.file_field :uploaded_image, class: "form-control" %>
  </div>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>

</form>